* {
box-sizing: border-box;
/*border: 1px solid red;*/
}

body {
    font-family: 'Heebo', sans-serif;
}

img {
    width: 100%;
    height: 400px;
}

.home_row {
    padding: 10px;
}

.home_button {
    width: 10vw;
    display: inline-block;
}

.your_logo {
    color: rgb(159, 159, 159);
}
.home {
    color: rgb(159, 159, 159);
}
.pricing {
    color: black;
}
.contact {
    color: rgb(159, 159, 159);
}

.header_image {
    padding: 50px;
    background: url(../img/assets/background.jpg);
    text-align: center;
    color: white;
    background-size: cover;
}

.boxes {
    text-align: center;
    width: 960px;
    margin: 0 auto;
    /*border: 1px solid black;*/
    height: 1000px;
}

.test {
    width: 30%;
    height: 330px;
    display: inline-block;
    /*border: 1px solid blue;*/
}
.test2 {
    padding: 50px;
    width: 49%;
    height: 250px;
    display: inline-block;
    text-align: left;
    /*border: 1px solid red;*/
}
.box_green {
    margin-right: 30px;
    padding: 1px;
    background-color: rgb(74, 134, 74);
    color: white;
    /*border: 1px solid red;*/
}
.box_blue {
    /*margin-right: 30px;*/
    padding: 1px;
    background-color: rgb(45, 69, 122);
    color: white;
}
.box_black {
    margin-left: 30px;
    padding: 1px;
    background-color: black;
    color: white;
}
.personal {
    /*width: 30%;*/
    margin-right: 30px;
    color: black;
    border: 1px solid rgb(214, 214, 214);
    padding: 6px;
}
.personala {
    /*width: 30%;*/
    /*margin-right: 30px;*/
    color: black;
    border: 1px solid rgb(214, 214, 214);
    padding: 6px;
}
.personalb {
    /*width: 30%;*/
    margin-left: 30px;
    color: black;
    border: 1px solid rgb(214, 214, 214);
    padding: 6px;
}
.personal_choose {
    /*width: 30%;*/
    margin-right: 30px;
    text-align: center;
    padding: 14px;
    color: black;
    border: 1px solid rgb(214, 214, 214);
}
.personal_choosea {
    /*width: 30%;*/
    /*margin-right: 30px;*/
    text-align: center;
    padding: 14px;
    color: black;
    border: 1px solid rgb(214, 214, 214);
}
.personal_chooseb {
    /*width: 30%;*/
    margin-left: 30px;
    text-align: center;
    padding: 14px;
    color: black;
    border: 1px solid rgb(214, 214, 214);
}
.button {
    background-color: white;
    color: rgb(71, 71, 71);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 5px;
    font-size: 20px;
    border-radius: 39%;
}

footer {
    text-align: center;
}

.get_started {
    display: inline-block;
}

.footer_row {
    width: 100%;
    height: 150px;
    background-color: black;
    bottom: 0px;
}
.footer_text {
    color: rgb(138, 138, 138);
    text-align: center;
    padding: 50px;
    height: 50px
}
.footer_style {
    color: white;
    text-decoration: underline;
}
a {
    text-decoration: underline;
    color: white;
}
